<html>
<head>
	<title>NLP PROJECT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
</head>
	<body class="jumbotron">


		<!-- Testimonials -->
		<div class="text-center ">


				<h2 class="my-4 title">CLASSIFY NEWS INTO DIFFERENT CATEGORIES</h2>

				<div class="btn-group dropright center">
					<button type="button" class="btn btn-primary btn-lg">
						Select algorithm
					</button>
					<button type="button" class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="sr-only">Toggle Dropright</span>
					</button>
					<div class="dropdown-menu">
						<!-- Dropdown menu links -->
						<a class="dropdown-item" href="LogisticsRegression.html">Logistics Regression</a>
						<a class="dropdown-item" href="RandomForest.html">Random Forest</a>
						<a class="dropdown-item" href="MultinomialNaiveBayes.html">Multinomial Naive Bayes</a>
				</div>


			</div>

		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>